---
import {useLocale} from "../../utils/locale";
import {getEntry, render} from 'astro:content'
import Layout from "../../layouts/Layout.astro";
const {path, t, locale} = useLocale(Astro.url)
export const prerender = true;

const content = await getEntry('whois', 'index')

const {Content} = await render(content);
---

<Layout title={t('nav.now')}>
    <main >

        <div class="my-8 mx-4 text-sm">
            <Content/>
        </div>

        <div data-orientation="horizontal" role="separator" class="bg-stone-200 w-full h-px my-8"></div>
        <div><h2 class="font-medium text-xl mb-3">Projects</h2>
            <ul class="grid grid-cols-1 gap-3 p-1">
                <li class="group flex items-center justify-between px-4 py-3 bg-stone-100 dark:bg-stone-600 hover:bg-stone-200 dark:hover:bg-stone-500  outline-none border border-neutral-4 hover:border-neutral-6 rounded-3xl focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-neutral-7 focus-visible:ring-offset-neutral-1">
                    <div class="flex flex-row items-stretch gap-5 pl-2">
                        <div class="flex items-center justify-center">
                            <svg fill="currentColor"
                                 class="transition duration-300 group-hover:-translate-y-1 text-neutral-11 group-hover:text-neutral-11"
                                 width="24" height="24" role="img" viewBox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg">
                                    <g id="页面-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Business" transform="translate(-576.000000, 0.000000)" fill-rule="nonzero">
            <g id="currency_cny_line" transform="translate(576.000000, 0.000000)">
                <path d="M24,0 L24,24 L0,24 L0,0 L24,0 Z M12.5934901,23.257841 L12.5819402,23.2595131 L12.5108777,23.2950439 L12.4918791,23.2987469 L12.4918791,23.2987469 L12.4767152,23.2950439 L12.4056548,23.2595131 C12.3958229,23.2563662 12.3870493,23.2590235 12.3821421,23.2649074 L12.3780323,23.275831 L12.360941,23.7031097 L12.3658947,23.7234994 L12.3769048,23.7357139 L12.4804777,23.8096931 L12.4953491,23.8136134 L12.4953491,23.8136134 L12.5071152,23.8096931 L12.6106902,23.7357139 L12.6232938,23.7196733 L12.6232938,23.7196733 L12.6266527,23.7031097 L12.609561,23.275831 C12.6075724,23.2657013 12.6010112,23.2592993 12.5934901,23.257841 L12.5934901,23.257841 Z M12.8583906,23.1452862 L12.8445485,23.1473072 L12.6598443,23.2396597 L12.6498822,23.2499052 L12.6498822,23.2499052 L12.6471943,23.2611114 L12.6650943,23.6906389 L12.6699349,23.7034178 L12.6699349,23.7034178 L12.678386,23.7104931 L12.8793402,23.8032389 C12.8914285,23.8068999 12.9022333,23.8029875 12.9078286,23.7952264 L12.9118235,23.7811639 L12.8776777,23.1665331 C12.8752882,23.1545897 12.8674102,23.1470016 12.8583906,23.1452862 L12.8583906,23.1452862 Z M12.1430473,23.1473072 C12.1332178,23.1423925 12.1221763,23.1452606 12.1156365,23.1525954 L12.1099173,23.1665331 L12.0757714,23.7811639 C12.0751323,23.7926639 12.0828099,23.8018602 12.0926481,23.8045676 L12.108256,23.8032389 L12.3092106,23.7104931 L12.3186497,23.7024347 L12.3186497,23.7024347 L12.3225043,23.6906389 L12.340401,23.2611114 L12.337245,23.2485176 L12.337245,23.2485176 L12.3277531,23.2396597 L12.1430473,23.1473072 Z" id="MingCute" fill-rule="nonzero"></path>
                <path d="M12,2 C17.5228,2 22,6.47715 22,12 C22,17.5228 17.5228,22 12,22 C6.47715,22 2,17.5228 2,12 C2,6.47715 6.47715,2 12,2 Z M12,4 C7.58172,4 4,7.58172 4,12 C4,16.4183 7.58172,20 12,20 C16.4183,20 20,16.4183 20,12 C20,7.58172 16.4183,4 12,4 Z M15.4226,7.42428 C15.8668,7.75245 15.9609,8.37859 15.6327,8.8228 L14.0242,11.0001 L15,11.0001 C15.5523,11.0001 16,11.4478 16,12.0001 C16,12.5523 15.5523,13.0001 15,13.0001 L13,13.0001 L13,14.0001 L15,14.0001 C15.5523,14.0001 16,14.4478 16,15.0001 C16,15.5523 15.5523,16.0001 15,16.0001 L13,16.0001 L13,17.0001 C13,17.5523 12.5523,18.0001 12,18.0001 C11.4477,18.0001 11,17.5523 11,17.0001 L11,16.0001 L9,16.0001 C8.44772,16.0001 8,15.5523 8,15.0001 C8,14.4478 8.44772,14.0001 9,14.0001 L11,14.0001 L11,13.0001 L9,13.0001 C8.44772,13.0001 8,12.5523 8,12.0001 C8,11.4478 8.44772,11.0001 9,11.0001 L9.97582,11.0001 L8.36727,8.8228 C8.03909,8.37859 8.13315,7.75245 8.57736,7.42428 C9.02156,7.0961 9.6477,7.19016 9.97588,7.63436 L12,10.3741 L14.0241,7.63436 C14.3523,7.19016 14.9784,7.0961 15.4226,7.42428 Z" id="形状" fill=currentColor></path>
            </g>
        </g>
    </g>
                            </svg>
                        </div>
                        <div>
                            <span class="transition duration-300 group-hover:translate-x-1 text-neutral-12 text-sm">
                            一个 Chrome 插件</span>
                            <div class="transition duration-300 group-hover:translate-x-px text-neutral-11 group-hover:text-neutral-11 text-xs">
                                ChatGPT-4o mini 几乎提供了所有代码，颤抖吧人类
                            </div>
                        </div>
                    </div>
                    <a type="button" role="button" href="https://chrome.google.com/webstore/detail/mkgpdgkagelcghmbkfbfamonaekfgpla" target="_blank"
                       aria-label="Open"
                       class="inline-flex panda-link items-center justify-center gap-2 outline-none border focus-visible:ring-2 focus-visible:ring-offset-2 bg-stone-100  hover:bg-stone-300 dark:bg-stone-800 dark:hover:bg-stone-600 dark:bg-stone-800 dark:hover:bg-stone-600 active:bg-neutral-5 text-neutral-11 border-neutral-6 focus-visible:ring-neutral-8 focus-visible:ring-offset-neutral-1 w-8 h-8 text-base font-medium rounded-xl group/icon">
                        <svg fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                             stroke-linejoin="round" aria-label="Open"
                             class="transition text-neutral-11 group-hover:text-primary-11 group-focus-visible/icon:text-primary-11"
                             width="16" height="16" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15 3h6v6"></path>
                            <path d="M10 14 21 3"></path>
                            <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                        </svg>
                    </a></li>
                <li class="group flex items-center justify-between px-4 py-3  bg-stone-100 dark:bg-stone-600 hover:bg-stone-200 dark:hover:bg-stone-500  outline-none border border-neutral-4 hover:border-neutral-6 rounded-3xl focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-neutral-7 focus-visible:ring-offset-neutral-1">
                    <div class="flex flex-row items-stretch gap-5 pl-2">
                        <div class="flex items-center justify-center">
                            <svg fill="currentColor"
                                 class="transition duration-300 group-hover:-translate-y-1 text-neutral-11 group-hover:text-neutral-11"
                                 width="24" height="24" role="img" viewBox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M 9.871094 13.972656 C 10.492188 12.105469 9.808594 11.023438 8.804688 10.832031 C 7.589844 10.605469 6.730469 11.023438 5.414062 12.71875 C 4.09375 14.414062 4.535156 16.984375 6.792969 17.050781 C 8.679688 17.101562 9.429688 15.292969 9.871094 13.972656 Z M 9.871094 13.972656 M 14.941406 10.761719 C 13.746094 11.265625 13.5 12.09375 14.125 13.964844 C 14.5625 15.28125 15.316406 17.09375 17.199219 17.039062 C 19.460938 16.976562 19.902344 14.402344 18.582031 12.707031 C 17.265625 11.011719 16.132812 10.261719 14.941406 10.761719 Z M 14.941406 10.761719 M 6.808594 6.585938 C 6.824219 6.449219 6.835938 6.3125 6.835938 6.175781 C 6.835938 4.285156 5.304688 2.757812 3.417969 2.757812 C 1.53125 2.757812 0 4.285156 0 6.175781 C 0 8.0625 1.53125 9.589844 3.417969 9.589844 C 3.53125 9.589844 3.648438 9.585938 3.757812 9.574219 C 4.351562 8.847656 5.394531 7.683594 6.808594 6.585938 Z M 6.808594 6.585938 M 20.582031 2.886719 C 18.695312 2.886719 17.164062 4.417969 17.164062 6.304688 C 17.164062 6.445312 17.175781 6.582031 17.191406 6.714844 C 18.605469 7.816406 19.648438 8.980469 20.242188 9.707031 C 20.351562 9.71875 20.46875 9.722656 20.582031 9.722656 C 22.46875 9.722656 24 8.195312 24 6.304688 C 24 4.417969 22.46875 2.886719 20.582031 2.886719 Z M 20.582031 2.886719 M 15.121094 19.710938 C 14.941406 19.636719 14.738281 19.722656 14.667969 19.902344 C 14.621094 20.019531 14.5625 20.109375 14.488281 20.191406 C 14.378906 20.308594 14.238281 20.398438 14.070312 20.457031 C 13.90625 20.519531 13.714844 20.546875 13.519531 20.546875 C 13.359375 20.546875 13.195312 20.527344 13.046875 20.488281 C 12.820312 20.433594 12.625 20.335938 12.507812 20.230469 C 12.445312 20.179688 12.40625 20.128906 12.382812 20.085938 C 12.359375 20.039062 12.347656 20.003906 12.347656 19.960938 L 12.347656 18.582031 C 12.664062 18.527344 13.152344 18.355469 13.628906 17.835938 C 13.878906 17.5625 14.050781 16.796875 13.417969 16.496094 C 13.085938 16.339844 12.597656 16.308594 12 16.308594 C 11.402344 16.308594 10.914062 16.339844 10.582031 16.496094 C 9.949219 16.796875 10.121094 17.5625 10.371094 17.835938 C 10.851562 18.355469 11.335938 18.527344 11.652344 18.582031 L 11.652344 19.960938 C 11.652344 19.988281 11.648438 20.015625 11.636719 20.042969 C 11.621094 20.089844 11.585938 20.148438 11.523438 20.207031 C 11.429688 20.296875 11.277344 20.386719 11.089844 20.449219 C 10.90625 20.511719 10.691406 20.546875 10.480469 20.546875 C 10.222656 20.550781 9.96875 20.492188 9.773438 20.386719 C 9.671875 20.335938 9.585938 20.269531 9.511719 20.191406 C 9.4375 20.109375 9.378906 20.019531 9.332031 19.902344 C 9.261719 19.722656 9.058594 19.636719 8.878906 19.710938 C 8.699219 19.78125 8.613281 19.984375 8.6875 20.160156 C 8.761719 20.355469 8.871094 20.523438 9 20.664062 C 9.199219 20.875 9.4375 21.019531 9.691406 21.113281 C 9.949219 21.203125 10.214844 21.242188 10.480469 21.242188 C 10.699219 21.242188 10.917969 21.214844 11.125 21.164062 C 11.433594 21.085938 11.71875 20.953125 11.945312 20.761719 C 11.964844 20.746094 11.980469 20.726562 11.996094 20.710938 C 12.1875 20.890625 12.425781 21.019531 12.683594 21.109375 C 12.945312 21.195312 13.230469 21.242188 13.519531 21.242188 C 13.871094 21.242188 14.230469 21.171875 14.554688 21 C 14.714844 20.917969 14.867188 20.804688 15 20.664062 C 15.128906 20.523438 15.238281 20.355469 15.316406 20.160156 C 15.386719 19.984375 15.300781 19.78125 15.121094 19.710938 Z M 15.121094 19.710938"></path>
                            </svg>
                        </div>
                        <div><span class="transition duration-300 group-hover:translate-x-1 text-neutral-12 text-sm">astro
                            theme panda</span>
                            <div class="transition duration-300 group-hover:translate-x-px text-neutral-11 group-hover:text-neutral-11 text-xs">
                                Respect the author.
                            </div>
                        </div>
                    </div>
                    <a type="button" role="button" href="https://github.com/yuhangch/astro-theme-panda" target="_blank"
                       aria-label="Open"
                       class="inline-flex panda-link items-center justify-center gap-2 outline-none border focus-visible:ring-2 focus-visible:ring-offset-2 bg-stone-100  hover:bg-stone-300 dark:bg-stone-800 dark:hover:bg-stone-600 active:bg-neutral-5 text-neutral-11 border-neutral-6 focus-visible:ring-neutral-8 focus-visible:ring-offset-neutral-1 w-8 h-8 text-base font-medium rounded-xl group/icon">
                        <svg fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                             stroke-linejoin="round" aria-label="Open"
                             class="transition text-neutral-11 group-hover:text-primary-11 group-focus-visible/icon:text-primary-11"
                             width="16" height="16" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15 3h6v6"></path>
                            <path d="M10 14 21 3"></path>
                            <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                        </svg>
                    </a></li>
            </ul>
        </div>

        <div>
            <div><h2 class="font-medium text-xl mb-3">Favorite</h2>
                <ul class="grid grid-cols-2 gap-3 p-1">
                    <li class="group flex items-center justify-between px-4 py-3  bg-stone-100 dark:bg-stone-600 hover:bg-stone-200 dark:hover:bg-stone-500 outline-none border border-neutral-4 hover:border-neutral-6 rounded-3xl focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-neutral-7 focus-visible:ring-offset-neutral-1">
                        <div class="flex flex-row items-stretch gap-5 pl-2">
                            <div class="flex items-center justify-center">
                                <svg fill="currentColor"
                                     class="transition duration-300 group-hover:-translate-y-1 text-neutral-11 group-hover:text-neutral-11"
                                     width="24" height="24" role="img" viewBox="0 0 15 15"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3.25781 3.11684C3.67771 3.45796 3.83523 3.43193 4.62369 3.37933L12.0571 2.93299C12.2147 2.93299 12.0836 2.77571 12.0311 2.74957L10.7965 1.85711C10.56 1.67347 10.2448 1.46315 9.64083 1.51576L2.44308 2.04074C2.18059 2.06677 2.12815 2.19801 2.2327 2.30322L3.25781 3.11684ZM3.7041 4.84917V12.6704C3.7041 13.0907 3.91415 13.248 4.38693 13.222L12.5562 12.7493C13.0292 12.7233 13.0819 12.4341 13.0819 12.0927V4.32397C13.0819 3.98306 12.9508 3.79921 12.6612 3.82545L4.12422 4.32397C3.80918 4.35044 3.7041 4.50803 3.7041 4.84917ZM11.7688 5.26872C11.8212 5.50518 11.7688 5.74142 11.5319 5.76799L11.1383 5.84641V11.6205C10.7965 11.8042 10.4814 11.9092 10.2188 11.9092C9.79835 11.9092 9.69305 11.7779 9.37812 11.3844L6.80345 7.34249V11.2532L7.61816 11.437C7.61816 11.437 7.61816 11.9092 6.96086 11.9092L5.14879 12.0143C5.09615 11.9092 5.14879 11.647 5.33259 11.5944L5.80546 11.4634V6.29276L5.1489 6.24015C5.09625 6.00369 5.22739 5.66278 5.5954 5.63631L7.53935 5.50528L10.2188 9.5998V5.97765L9.53564 5.89924C9.4832 5.61018 9.69305 5.40028 9.95576 5.37425L11.7688 5.26872ZM1.83874 1.33212L9.32557 0.780787C10.245 0.701932 10.4815 0.754753 11.0594 1.17452L13.4492 2.85424C13.8436 3.14309 13.975 3.22173 13.975 3.53661V12.7493C13.975 13.3266 13.7647 13.6681 13.0293 13.7203L4.33492 14.2454C3.78291 14.2717 3.52019 14.193 3.23111 13.8253L1.47116 11.5419C1.1558 11.1216 1.02466 10.8071 1.02466 10.4392V2.25041C1.02466 1.77825 1.23504 1.38441 1.83874 1.33212Z"></path>
                                </svg>
                            </div>
                            <div><span
                                    class="transition duration-300 group-hover:translate-x-1 text-neutral-12 text-sm">
                                Notion</span>
                                <div class="transition duration-300 group-hover:translate-x-px text-neutral-11 group-hover:text-neutral-11 text-xs">
                                    Capture thoughts
                                </div>
                            </div>
                        </div>
                        <a type="button" role="button" href="https://www.notion.so/" target="_blank" aria-label="Open"
                           class="inline-flex panda-link items-center justify-center gap-2 outline-none border focus-visible:ring-2 focus-visible:ring-offset-2 bg-stone-100  hover:bg-stone-300 dark:bg-stone-800 dark:hover:bg-stone-600 active:bg-neutral-5 text-neutral-11 border-neutral-6 focus-visible:ring-neutral-8 focus-visible:ring-offset-neutral-1 w-8 h-8 text-base font-medium rounded-xl group/icon">
                            <svg fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" aria-label="Open"
                                 class="transition text-neutral-11 group-hover:text-primary-11 group-focus-visible/icon:text-primary-11"
                                 width="16" height="16" role="img" viewBox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M15 3h6v6"></path>
                                <path d="M10 14 21 3"></path>
                                <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                            </svg>
                        </a></li>
                    <li class="group flex items-center justify-between px-4 py-3  bg-stone-100 dark:bg-stone-600 hover:bg-stone-200 dark:hover:bg-stone-500 outline-none border border-neutral-4 hover:border-neutral-6 rounded-3xl focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-neutral-7 focus-visible:ring-offset-neutral-1">
                        <div class="flex flex-row items-stretch gap-5 pl-2">
                            <div class="flex items-center justify-center">
                                <svg fill="currentColor"
                                     class="transition duration-300 group-hover:-translate-y-1 text-neutral-11 group-hover:text-neutral-11"
                                     width="24" height="24" role="img" viewBox="0 0 256 256"
                                     xmlns="http://www.w3.org/2000/svg">
<g transform="translate(0,256) scale(0.1,-0.1)" stroke="none">
    <path d="M305 2541 l-50 -18 -35 -18 -34 -18 -59 -58 -58 -58 -32 -68 -32 -68
0 -950 0 -950 22 -55 23 -55 38 -50 37 -50 50 -37 50 -38 55 -23 55 -22 945 0
945 0 76 36 75 36 54 53 53 54 36 75 36 76 0 945 0 945 -22 55 -23 55 -38 50
-37 50 -50 37 -50 38 -55 23 -55 22 -935 2 -935 2 -50 -18z m850 -936 l60 -16
52 -35 52 -35 35 -52 36 -52 17 -67 17 -67 -18 -20 -19 -21 -18 0 -18 0 -11
19 -10 20 0 22 0 22 -12 41 -12 41 -51 50 -50 51 -41 12 -41 12 -229 0 -229 0
-37 -10 -37 -11 -43 -32 -42 -32 -25 -50 -26 -50 1 -70 0 -70 21 -40 21 -40
34 -32 33 -32 37 -15 37 -16 220 0 219 0 22 -18 23 -18 -7 -22 -7 -22 -23 -6
-23 -5 -219 3 -219 3 -55 27 -55 27 -44 43 -44 43 -26 55 -26 55 0 85 0 85 23
46 22 46 36 41 36 42 42 25 41 24 55 15 55 15 205 0 206 1 59 -15z m835 -16
l55 -26 42 -41 42 -41 27 -53 27 -53 5 -75 4 -75 -22 -57 -21 -57 -45 -50 -45
-50 -67 -33 -66 -33 -228 -3 -227 -4 -55 12 -56 11 -59 40 -59 39 -36 53 -36
52 -16 68 -17 67 18 20 18 20 13 0 13 0 15 -16 16 -15 0 -26 0 -26 12 -41 12
-41 51 -50 50 -51 41 -12 41 -12 230 0 230 0 44 15 43 15 31 24 31 24 28 52
29 53 0 66 0 66 -20 45 -20 45 -38 34 -39 34 -32 13 -33 14 -218 0 -219 0 -22
16 -22 15 0 14 0 14 16 16 17 16 231 -3 231 -3 55 -26z m-1032 -275 l22 -15 0
-16 0 -16 -17 -19 -16 -18 -89 0 -88 0 -20 20 -20 20 10 20 10 19 18 10 17 10
75 1 76 0 22 -16z m852 -4 l20 -20 0 -10 0 -10 -20 -20 -20 -20 -87 0 -86 0
-19 17 -18 16 0 18 0 18 22 15 22 16 83 0 83 0 20 -20z"></path>
  </g>
                                </svg>
                            </div>
                            <div><span
                                    class="transition duration-300 group-hover:translate-x-1 text-neutral-12 text-sm">
                                Karing</span>
                                <div class="transition duration-300 group-hover:translate-x-px text-neutral-11 group-hover:text-neutral-11 text-xs">
                                    a Tool
                                </div>
                            </div>
                        </div>
                        <a type="button" role="button" href="https://karing.app/" target="_blank" aria-label="Open"
                           class="inline-flex panda-link items-center justify-center gap-2 outline-none border focus-visible:ring-2 focus-visible:ring-offset-2 bg-stone-100  hover:bg-stone-300 dark:bg-stone-800 dark:hover:bg-stone-600 active:bg-neutral-5 text-neutral-11 border-neutral-6 focus-visible:ring-neutral-8 focus-visible:ring-offset-neutral-1 w-8 h-8 text-base font-medium rounded-xl group/icon">
                            <svg fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" aria-label="Open"
                                 class="transition text-neutral-11 group-hover:text-primary-11 group-focus-visible/icon:text-primary-11"
                                 width="16" height="16" role="img" viewBox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M15 3h6v6"></path>
                                <path d="M10 14 21 3"></path>
                                <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                            </svg>
                        </a></li>
                    <li class="group flex items-center justify-between px-4 py-3  bg-stone-100 dark:bg-stone-600 hover:bg-stone-200 dark:hover:bg-stone-500 outline-none border border-neutral-4 hover:border-neutral-6 rounded-3xl focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-neutral-7 focus-visible:ring-offset-neutral-1">
                        <div class="flex flex-row items-stretch gap-5 pl-2">
                            <div class="flex items-center justify-center">
                                <svg fill="currentColor"
                                     class="transition duration-300 group-hover:-translate-y-1 text-neutral-11 group-hover:text-neutral-11"
                                     width="24" height="24" role="img" viewBox="0 -198 512 512"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M255.420487,28.975665 C235.427278,28.975665 221.011885,42.0147142 221.011885,61.5732881 C221.011885,81.1318619 237.238257,94.1709111 257.231466,94.1709111 C269.310696,94.1709111 279.959253,89.3899264 286.551217,81.3310696 L272.697227,73.3265422 C269.039049,77.3288059 263.479344,79.6649689 257.231466,79.6649689 C248.556876,79.6649689 241.186191,75.1375212 238.451613,67.893605 L289.195246,67.893605 C289.593662,65.8653084 289.829089,63.7645727 289.829089,61.5551783 C289.829089,42.0147142 275.413696,28.975665 255.420487,28.975665 Z M238.288625,55.2348613 C240.552349,48.0090549 246.745897,43.4634975 255.402377,43.4634975 C264.076967,43.4634975 270.270515,48.0090549 272.516129,55.2348613 L238.288625,55.2348613 L238.288625,55.2348613 Z M450.426712,28.975665 C430.433503,28.975665 416.01811,42.0147142 416.01811,61.5732881 C416.01811,81.1318619 432.244482,94.1709111 452.237691,94.1709111 C464.316921,94.1709111 474.965478,89.3899264 481.557442,81.3310696 L467.703452,73.3265422 C464.045274,77.3288059 458.485569,79.6649689 452.237691,79.6649689 C443.563101,79.6649689 436.192417,75.1375212 433.457838,67.893605 L484.201471,67.893605 C484.599887,65.8653084 484.835314,63.7645727 484.835314,61.5551783 C484.835314,42.0147142 470.419921,28.975665 450.426712,28.975665 L450.426712,28.975665 Z M433.31296,55.2348613 C435.576684,48.0090549 441.770232,43.4634975 450.426712,43.4634975 C459.101302,43.4634975 465.29485,48.0090549 467.540464,55.2348613 L433.31296,55.2348613 Z M362.630447,61.5732881 C362.630447,72.4391624 369.729485,79.6830787 380.740238,79.6830787 C388.201471,79.6830787 393.797397,76.2965478 396.676853,70.7730617 L410.585173,78.7956989 C404.826259,88.3938879 394.032824,94.1709111 380.740238,94.1709111 C360.728919,94.1709111 346.331636,81.1318619 346.331636,61.5732881 C346.331636,42.0147142 360.747029,28.975665 380.740238,28.975665 C394.032824,28.975665 404.808149,34.7526882 410.585173,44.3508772 L396.676853,52.3735144 C393.797397,46.8500283 388.201471,43.4634975 380.740238,43.4634975 C369.747595,43.4634975 362.630447,50.7074137 362.630447,61.5732881 Z M512,9.0548953 L512,92.3599321 L495.701188,92.3599321 L495.701188,9.0548953 L512,9.0548953 Z M66.9156763,-1.42108547e-14 L133.831353,115.90266 L0,115.90266 L66.9156763,-1.42108547e-14 Z M234.213922,9.0548953 L184.031692,95.9818902 L133.849462,9.0548953 L152.665535,9.0548953 L184.031692,63.3842671 L215.397849,9.0548953 L234.213922,9.0548953 Z M340.898698,30.786644 L340.898698,48.3350311 C339.087719,47.8098472 337.168081,47.4476514 335.103565,47.4476514 C324.581777,47.4476514 316.993775,54.6915676 316.993775,65.557442 L316.993775,92.3599321 L300.694963,92.3599321 L300.694963,30.786644 L316.993775,30.786644 L316.993775,47.4476514 C316.993775,38.2478778 327.696661,30.786644 340.898698,30.786644 Z"></path>
                                </svg>
                            </div>
                            <div><span
                                    class="transition duration-300 group-hover:translate-x-1 text-neutral-12 text-sm">
                                Vercel</span>
                                <div class="transition duration-300 group-hover:translate-x-px text-neutral-11 group-hover:text-neutral-11 text-xs">
                                    Shared Hosting
                                </div>
                            </div>
                        </div>
                        <a type="button" role="button" href="https://vercel.com/" target="_blank" aria-label="Open"
                           class="inline-flex panda-link items-center justify-center gap-2 outline-none border focus-visible:ring-2 focus-visible:ring-offset-2 bg-stone-100  hover:bg-stone-300 dark:bg-stone-800 dark:hover:bg-stone-600 active:bg-neutral-5 text-neutral-11 border-neutral-6 focus-visible:ring-neutral-8 focus-visible:ring-offset-neutral-1 w-8 h-8 text-base font-medium rounded-xl group/icon">
                            <svg fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" aria-label="Open"
                                 class="transition text-neutral-11 group-hover:text-primary-11 group-focus-visible/icon:text-primary-11"
                                 width="16" height="16" role="img" viewBox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M15 3h6v6"></path>
                                <path d="M10 14 21 3"></path>
                                <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                            </svg>
                        </a></li>
                    <li class="group flex items-center justify-between px-4 py-3  bg-stone-100 dark:bg-stone-600 hover:bg-stone-200 dark:hover:bg-stone-500 outline-none border border-neutral-4 hover:border-neutral-6 rounded-3xl focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-neutral-7 focus-visible:ring-offset-neutral-1">
                        <div class="flex flex-row items-stretch gap-5 pl-2">
                            <div class="flex items-center justify-center">
                                <svg fill="currentColor"
                                     class="transition duration-300 group-hover:-translate-y-1 text-neutral-11 group-hover:text-neutral-11"
                                     width="24" height="24" role="img" viewBox="0 0 20 20"
                                     xmlns="http://www.w3.org/2000/svg">
                                            <g id="Dribbble-Light-Preview" transform="translate(-300, -7399)"><g id="icons" transform="translate(56, 160)"><path d="M263.821537,7247.00386 L254.211298,7247.00386 C254.211298,7248.0033 254.211298,7250.00218 254.205172,7251.00161 L259.774046,7251.00161 C259.560644,7252.00105 258.804036,7253.40026 257.734984,7254.10487 C257.733963,7254.10387 257.732942,7254.11086 257.7309,7254.10986 C256.309581,7255.04834 254.43389,7255.26122 253.041161,7254.98137 C250.85813,7254.54762 249.130492,7252.96451 248.429023,7250.95364 C248.433107,7250.95064 248.43617,7250.92266 248.439233,7250.92066 C248.000176,7249.67336 248.000176,7248.0033 248.439233,7247.00386 L248.438212,7247.00386 C249.003881,7245.1669 250.783592,7243.49084 252.969687,7243.0321 C254.727956,7242.65931 256.71188,7243.06308 258.170978,7244.42831 C258.36498,7244.23842 260.856372,7241.80579 261.043226,7241.6079 C256.0584,7237.09344 248.076756,7238.68155 245.090149,7244.51127 L245.089128,7244.51127 C245.089128,7244.51127 245.090149,7244.51127 245.084023,7244.52226 L245.084023,7244.52226 C243.606545,7247.38565 243.667809,7250.75975 245.094233,7253.48622 C245.090149,7253.48921 245.087086,7253.49121 245.084023,7253.49421 C246.376687,7256.0028 248.729215,7257.92672 251.563684,7258.6593 C254.574796,7259.44886 258.406843,7258.90916 260.973794,7256.58747 C260.974815,7256.58847 260.975836,7256.58947 260.976857,7256.59047 C263.15172,7254.63157 264.505648,7251.29445 263.821537,7247.00386"></path></g></g>
                                </svg>
                            </div>
                            <div><span
                                    class="transition duration-300 group-hover:translate-x-1 text-neutral-12 text-sm">
                                Google</span>
                                <div class="transition duration-300 group-hover:translate-x-px text-neutral-11 group-hover:text-neutral-11 text-xs">
                                    Everyday to use
                                </div>
                            </div>
                        </div>
                        <a type="button" role="button" href="https://www.google.com/" target="_blank"
                           aria-label="Open"
                           class="inline-flex panda-link items-center justify-center gap-2 outline-none border focus-visible:ring-2 focus-visible:ring-offset-2 bg-stone-100  hover:bg-stone-300 dark:bg-stone-800 dark:hover:bg-stone-600 active:bg-neutral-5 text-neutral-11 border-neutral-6 focus-visible:ring-neutral-8 focus-visible:ring-offset-neutral-1 w-8 h-8 text-base font-medium rounded-xl group/icon">
                            <svg fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" aria-label="Open"
                                 class="transition text-neutral-11 group-hover:text-primary-11 group-focus-visible/icon:text-primary-11"
                                 width="16" height="16" role="img" viewBox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M15 3h6v6"></path>
                                <path d="M10 14 21 3"></path>
                                <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                            </svg>
                        </a></li>
                    <li class="group flex items-center justify-between px-4 py-3  bg-stone-100 dark:bg-stone-600 hover:bg-stone-200 dark:hover:bg-stone-500 outline-none border border-neutral-4 hover:border-neutral-6 rounded-3xl focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-neutral-7 focus-visible:ring-offset-neutral-1">
                        <div class="flex flex-row items-stretch gap-5 pl-2">
                            <div class="flex items-center justify-center">
                                <svg fill="currentColor"
                                     class="transition duration-300 group-hover:-translate-y-1 text-neutral-11 group-hover:text-neutral-11"
                                     width="24" height="24" role="img" viewBox="0 0 32 32"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M31.636 0.787c1.692 1.692-3.005 9.145-3.803 9.943-0.797 0.792-2.812 0.063-4.511-1.636-1.697-1.692-2.427-3.713-1.629-4.509 0.791-0.792 8.244-5.496 9.943-3.797zM7.849 2.579c-2.595-1.469-6.276-3.105-7.448-1.933-1.188 1.188 0.505 4.959 1.989 7.552 1.323-2.296 3.203-4.233 5.459-5.619zM29.047 10.145c0.24 0.808 0.199 1.475-0.192 1.86-0.901 0.907-3.344-0.057-5.543-2.151-0.156-0.141-0.307-0.281-0.452-0.433-0.797-0.791-1.417-1.64-1.813-2.421-0.771-1.38-0.964-2.599-0.38-3.183 0.317-0.317 0.823-0.405 1.443-0.291 0.407-0.256 0.88-0.543 1.407-0.833-2.199-1.141-4.636-1.74-7.109-1.735-8.505 0-15.396 6.896-15.396 15.396 0 8.505 6.891 15.4 15.396 15.4s15.4-6.895 15.4-15.4c0-2.745-0.724-5.319-1.984-7.552-0.244 0.452-0.505 0.9-0.776 1.343z"></path>
                                </svg>
                            </div>
                            <div><span
                                    class="transition duration-300 group-hover:translate-x-1 text-neutral-12 text-sm">
                                FreeBSD</span>
                                <div class="transition duration-300 group-hover:translate-x-px text-neutral-11 group-hover:text-neutral-11 text-xs">
                                    a pure Unix
                                </div>
                            </div>
                        </div>
                        <a type="button" role="button" href="https://www.freebsd.org/" target="_blank" aria-label="Open"
                           class="inline-flex panda-link items-center justify-center gap-2 outline-none border focus-visible:ring-2 focus-visible:ring-offset-2 bg-stone-100  hover:bg-stone-300 dark:bg-stone-800 dark:hover:bg-stone-600 active:bg-neutral-5 text-neutral-11 border-neutral-6 focus-visible:ring-neutral-8 focus-visible:ring-offset-neutral-1 w-8 h-8 text-base font-medium rounded-xl group/icon">
                            <svg fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" aria-label="Open"
                                 class="transition text-neutral-11 group-hover:text-primary-11 group-focus-visible/icon:text-primary-11"
                                 width="16" height="16" role="img" viewBox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M15 3h6v6"></path>
                                <path d="M10 14 21 3"></path>
                                <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                            </svg>
                        </a></li>
                    <li class="group flex items-center justify-between px-4 py-3  bg-stone-100 dark:bg-stone-600 hover:bg-stone-200 dark:hover:bg-stone-500 outline-none border border-neutral-4 hover:border-neutral-6 rounded-3xl focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-neutral-7 focus-visible:ring-offset-neutral-1">
                        <div class="flex flex-row items-stretch gap-5 pl-2">
                            <div class="flex items-center justify-center">
                                <svg fill="currentColor"
                                     class="transition duration-300 group-hover:-translate-y-1 text-neutral-11 group-hover:text-neutral-11"
                                     width="24" height="24" role="img" viewBox="0 0 32 32"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M26.422 13.708l0.063 3.589h-0.031l-1.042-3.589h-1.708v4.521h1.13l-0.063-3.714h0.031l1.115 3.714h1.635v-4.521zM4.891 13.708l-0.854 4.568h1.234l0.63-4.156h0.026l0.615 4.156h1.224l-0.844-4.568zM11.797 13.708l-0.563 3.484h-0.031l-0.568-3.484h-1.865l-0.089 4.568h1.146l0.031-4.109h0.010l0.766 4.109h1.161l0.766-4.109h0.031l0.031 4.109h1.146l-0.109-4.568zM2.109 16.979c0.047 0.104 0.031 0.26 0.016 0.333-0.031 0.156-0.141 0.307-0.443 0.307-0.292 0-0.458-0.167-0.458-0.411v-0.443h-1.224v0.349c0 1.026 0.807 1.328 1.667 1.328 0.823 0 1.51-0.286 1.62-1.036 0.063-0.396 0.016-0.656 0-0.75-0.214-0.964-1.958-1.234-2.078-1.771-0.016-0.094-0.016-0.182 0-0.245 0.031-0.151 0.135-0.307 0.411-0.307s0.427 0.167 0.427 0.411v0.276h1.146v-0.318c0-0.995-0.901-1.146-1.542-1.146-0.813 0-1.484 0.271-1.604 1.005-0.031 0.198-0.047 0.385 0.016 0.615 0.182 0.943 1.818 1.219 2.047 1.802zM16.979 16.979c0.047 0.104 0.031 0.245 0.016 0.333-0.031 0.156-0.141 0.307-0.443 0.307-0.292 0-0.458-0.167-0.458-0.411v-0.443h-1.224v0.349c0 1.010 0.792 1.318 1.651 1.318 0.823 0 1.495-0.276 1.604-1.042 0.063-0.396 0.016-0.641 0-0.75-0.182-0.948-1.911-1.234-2.031-1.755-0.016-0.094-0.016-0.182 0-0.245 0.026-0.151 0.135-0.307 0.411-0.307 0.26 0 0.427 0.167 0.427 0.411v0.276h1.13v-0.318c0-0.995-0.885-1.146-1.526-1.146-0.813 0-1.469 0.255-1.589 1.005-0.031 0.198-0.031 0.385 0.010 0.615 0.188 0.943 1.792 1.203 2.021 1.802zM20.828 17.589c0.323 0 0.411-0.214 0.443-0.333 0.016-0.047 0.016-0.125 0.016-0.172v-3.375h1.161v3.286c0 0.089 0 0.26-0.016 0.302-0.073 0.859-0.75 1.135-1.589 1.135s-1.51-0.276-1.589-1.135c0-0.042-0.016-0.214-0.016-0.302v-3.286h1.161v3.375c0 0.063 0 0.125 0.016 0.172 0 0.12 0.094 0.333 0.411 0.333zM30.365 17.542c0.339 0 0.443-0.214 0.474-0.333 0.016-0.047 0.016-0.125 0.016-0.167v-0.661h-0.474v-0.672h1.62v1.224c0 0.094 0 0.151-0.016 0.307-0.078 0.839-0.797 1.13-1.604 1.13-0.813 0-1.526-0.292-1.604-1.13-0.016-0.156-0.016-0.214-0.016-0.307v-1.927c0-0.073 0.016-0.229 0.016-0.302 0.104-0.859 0.792-1.135 1.604-1.135 0.807 0 1.51 0.276 1.604 1.135 0.016 0.135 0.016 0.302 0.016 0.302v0.156h-1.146v-0.26c0 0 0-0.109-0.016-0.172-0.016-0.104-0.109-0.333-0.458-0.333-0.339 0-0.427 0.214-0.458 0.333-0.016 0.063-0.016 0.141-0.016 0.219v2.094c0 0.057 0 0.12 0.016 0.167 0 0.12 0.12 0.333 0.443 0.333z"></path>
                                </svg>
                            </div>
                            <div><span
                                    class="transition duration-300 group-hover:translate-x-1 text-neutral-12 text-sm">
                                SAMSUNG</span>
                                <div class="transition duration-300 group-hover:translate-x-px text-neutral-11 group-hover:text-neutral-11 text-xs">
                                    Favorite Model
                                </div>
                            </div>
                        </div>
                        <a type="button" role="button" href="https://pinduoduo.com/" target="_blank"
                           aria-label="Open"
                           class="inline-flex panda-link items-center justify-center gap-2 outline-none border focus-visible:ring-2 focus-visible:ring-offset-2 bg-stone-100  hover:bg-stone-300 dark:bg-stone-800 dark:hover:bg-stone-600 active:bg-neutral-5 text-neutral-11 border-neutral-6 focus-visible:ring-neutral-8 focus-visible:ring-offset-neutral-1 w-8 h-8 text-base font-medium rounded-xl group/icon">
                            <svg fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" aria-label="Open"
                                 class="transition text-neutral-11 group-hover:text-primary-11 group-focus-visible/icon:text-primary-11"
                                 width="16" height="16" role="img" viewBox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M15 3h6v6"></path>
                                <path d="M10 14 21 3"></path>
                                <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                            </svg>
                        </a></li>
                </ul>
            </div>
        </div>
    </main>
</Layout>