---
import {API_URL} from 'astro:env/server'
import { momentsLoader } from "../../loaders/moments";
import Layout from '@layouts/Layout.astro';
import MomentCard from '@components/MomentCard.astro';
import { useLocale } from '@utils/locale';

export const prerender = false;
const { id } = Astro.params;
const loader = momentsLoader();
let result = await loader.load();

const moment = (await result.moments).find((m) => m.id == id) ?? null;

const { t } = useLocale(Astro.url);
---

<Layout title={t('nav.moments') + ' #' + id}>
    {moment ?
        <div class="mt-8">
            <MomentCard  content={moment} />
        </div>
        <script data-isso={API_URL}
                src=`${API_URL}/js/embed.min.js`></script>

        <section id="isso-thread">
            <noscript>Javascript needs to be activated to view comments.</noscript>
        </section>
    : <p>Moment not found.</p>}
</Layout>
