---
import {momentLoader} from "../../loaders/moments";

import Layout from '@layouts/Layout.astro'
import MomentCard from '@components/MomentCard.astro'
import { useLocale } from '@utils/locale'
export const prerender = false;
const {id} = Astro.params;
const loader = momentLoader(id)
const moment = await loader.load()


const { t } = useLocale(Astro.url)
---

<Layout title={t('nav.moments') + ' #' + id}>
    <div class="mt-8">
        <MomentCard  content={moment} />
    </div>
</Layout>
