---
import { momentsLoader } from "../../loaders/moments";
import Layout from '@layouts/Layout.astro';
import MomentCard from '@components/MomentCard.astro';
import { useLocale } from '@utils/locale';

export const prerender = false;
const { id } = Astro.params;
const loader = momentsLoader();
let result = await loader.load();

const moment = (await result.moments).find((m) => m.id == id) ?? null;

const { t } = useLocale(Astro.url);
---

<Layout title={t('nav.moments') + ' #' + id}>
    {moment && Astro.url.pathname && Astro.url.pathname.startsWith('/moments') ? <MomentCard content={moment} />
    <script data-isso="https://argo.liuweinan.com/"
            src="//argo.liuweinan.com/js/embed.min.js"></script>

    <section id="isso-thread">
        <noscript>Javascript needs to be activated to view comments.</noscript>
    </section>
    : <p>Moment not found.</p>}
</Layout>