<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Liu Weinan's personal site with blogs, photos, and more." />
    <meta name="author" content="Vivian Liu" />
    <meta name="robots" content="index, follow" />
    <meta name="theme-color" content="#000000" />
    <title>LiuWeinan.Com - Vivian Liu - Meteorain</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="res/reset.css" />
    <link rel="stylesheet" href="res/style.css" />
    <link rel="icon" href="res/favicon.ico" />
  </head>
  <body>
    <main id="cd-main-content">
      <section id="cd-intro">
        <h1><span class="rainbow">Liu Weinan .com</span></h1>
        <header class="cd-header">
          <div id="cd-logo">
            <ul id="front_news_text" class="news-list">
              <li>Loading moments...</li>
            </ul>
          </div>
          <a class="cd-menu-trigger" href="#main-nav" aria-label="Open navigation menu">Navi <span></span></a>
        </header>
        <div class="cd-blurred-bg"></div>
      </section>
    </main>
    <div class="cd-shadow-layer"></div>
    <nav id="main-nav">
      <ul>
        <li><a href="posts" aria-label="Go to Blog"><span>Blog</span></a></li>
        <li><a href="moments" aria-label="Go to Moments"><span>Moments</span></a></li>
        <li><a href="https://spaces.liuweinan.com/" aria-label="Go to Spaces"><span>Spaces</span></a></li>
        <li><a href="https://www.instagram.com/liuweinan/" aria-label="Go to Instagram"><span>Instagram</span></a></li>
        <li><a href="whois" aria-label="Go to About"><span>About</span></a></li>
      </ul>
      <a href="#0" class="cd-close-menu" aria-label="Close navigation menu">Close <span></span></a>
    </nav>
    <script src="res/modernizr.js" defer></script>
    <script src="res/jquery.min.js" defer></script>
    <script src="res/main.js" defer></script>
    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?d637c35da59dfbdf67d9914e8446c1c6";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
      })();
    </script>
  </body>
</html>
