---
import { useLocale } from '@utils/locale'
const { t, path } = useLocale(Astro.url)
---

<footer class="mt-12 mb-6 text-sm">
    <div class="mb-2">
        <a href="https://www.instagram.com/liuweinan/" class="panda-link">{t('footer.contact')}</a>
        <span class="mx-1">|</span>
        <a rel="prefetch-intent" href="/rss.xml" class="panda-link">{t('footer.rss')}</a>
        <span class="mx-1">|</span>
        <a rel="prefetch-intent" href="#" class="panda-link">{t('nav.reviews')}</a>
        <span class="mx-1">|</span>
        <a rel="prefetch-intent" href="/footprint" class="panda-link">{t('nav.footprint')}</a>
    </div>
    <div class="mb-1">
        <span>2006-{new Date().getFullYear()}</span>
    </div>
    <div class="text-sm">
        {t('footer.built-with')}
        <a class="panda-link italic" href="https://astro.build/">astro</a>, {t('footer.powered-by')}<a
            class="panda-link italic ml-1"
            href="https://vercel.com/">Vercel</a
        >.
    </div>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-S4CNEQV8DY');
    </script>
</footer>
