---

import { useLocale } from '@utils/locale'
import ThemeSelect from "../components/ThemeSelect.astro";
import LanguageSelect from "../components/LanguageSelect.astro";
const { path } = useLocale(Astro.url)

---

<div class="my-6 flex">
    <a href={path('/')}  class="hover:cursor-pointer opacity-100 hover:opacity-80">
        <i class="hidden">website header </i>
        <svg
            class="h-16 w-40"
            xmlns="http://www.w3.org/2000/svg"
            width="300.000000pt"
            height="119.000000pt"
            viewBox="0 0 300.000000 119.000000"
            preserveAspectRatio="xMidYMid meet"
        >
            <g
                class="fill-stone-800 dark:fill-stone-200"
                transform="translate(0.000000,119.000000) scale(0.100000,-0.100000)"
                fill="#000000"
                stroke="none"
            >
                <path
                    d="M282 1058 c-7 -7 -12 -19 -12 -28 0 -9 -15 -33 -34 -53 -45 -49 -57
                    -111 -63 -325 -6 -180 5 -291 34 -365 17 -42 38 -57 79 -57 60 0 160 145 319
                    464 50 100 94 180 99 179 4 -2 10 -34 11 -73 4 -91 33 -153 85 -180 33 -17 38
                    -24 44 -66 11 -85 8 -132 -11 -142 -10 -5 -67 -12 -127 -15 -60 -3 -113 -10
                    -118 -15 -5 -5 -6 -17 -2 -26 6 -17 17 -17 120 -11 101 6 115 5 120 -10 5 -11
                    -2 -26 -19 -43 -22 -22 -36 -26 -82 -26 -58 0 -65 -5 -39 -30 24 -25 110 -21
                    150 6 61 42 74 80 73 214 0 123 -10 218 -23 231 -4 4 -24 7 -44 8 -53 0 -62
                    24 -62 172 0 114 -1 123 -21 134 -37 19 -63 -5 -113 -110 -25 -53 -46 -102
                    -46 -110 0 -8 -6 -22 -14 -30 -8 -9 -27 -41 -42 -71 -54 -111 -180 -315 -221
                    -359 -40 -43 -44 -45 -57 -28 -29 37 -41 138 -40 332 1 237 11 291 65 345 42
                    42 47 60 23 84 -19 19 -17 19 -32 4z"
                ></path>
                <path
                    d="M2128 910 c-150 -68 -378 -211 -560 -350 -61 -47 -71 -17 -38 109 33
                    122 25 152 -42 166 -18 4 -52 16 -76 28 -43 21 -70 18 -79 -10 -4 -12 55 -50
                    92 -59 45 -11 50 -28 32 -107 -20 -85 -24 -113 -33 -188 -6 -51 -4 -58 14 -68
                    34 -18 60 -13 99 22 108 94 520 367 556 367 9 0 34 -11 55 -24 20 -14 84 -45
                    142 -69 232 -99 335 -153 346 -180 2 -7 -15 -34 -39 -59 -45 -49 -64 -94 -74
                    -179 -7 -59 7 -93 47 -109 21 -9 34 -9 49 0 22 11 28 35 11 45 -15 9 -12 62 7
                    122 13 41 30 65 70 103 55 51 61 64 40 91 -22 29 -190 118 -359 190 -93 39
                    -168 75 -168 80 0 5 23 23 50 40 51 31 59 46 38 67 -23 23 -91 13 -180 -28z"
                ></path>
            </g>
        </svg>
    </a>
    <div class="text-sm flex items-center ml-auto gap-1">
        <LanguageSelect />
        <ThemeSelect />
    </div>
</div>
