---

import { useLocale } from '@utils/locale'
import ThemeSelect from "../components/ThemeSelect.astro";
const { path } = useLocale(Astro.url)

---

<div class="my-6 flex">
    <a href={path('/')}  class="hover:cursor-pointer opacity-100 hover:opacity-80">
        <i class="hidden">website header </i>
        <svg class="h-16 w-40"
          width="356.000000pt" height="128.000000pt"
          viewBox="0 0 356.000000 128.000000" xmlns="http://www.w3.org/2000/svg">
          <g class="fill-stone-800 dark:fill-stone-200"
            transform="translate(0.000000,128.000000)
            scale(0.100000,-0.100000)" fill="#2e2a29" stroke="none">
            <path d="M3137 1263 c-2 -5 -10 -32 -18 -61 -11 -46 -20 -58 -61 -89 -77 -56
                -83 -80 -28 -103 30 -12 30 -12 30 -127 0 -144 9 -156 116 -166 211 -20 314
                -116 322 -304 8 -161 -27 -195 -203 -200 -117 -4 -119 -4 -93 13 18 12 28 29
                31 53 7 57 1 63 -56 59 -65 -4 -70 11 -22 59 77 77 79 109 11 137 -25 10 -36
                23 -41 44 -6 29 -41 62 -65 62 -5 0 -10 -23 -10 -53 0 -53 0 -53 -77 -90 -115
                -55 -191 -128 -169 -161 9 -14 26 -30 38 -36 23 -11 23 -11 1 6 -49 36 -9 88
                84 110 120 28 135 16 84 -65 -16 -25 -32 -57 -36 -69 -7 -24 -11 -24 -72 -7
                -10 3 0 -3 22 -14 65 -31 115 -83 115 -120 0 -39 19 -122 32 -136 17 -19 28
                19 28 102 0 98 -5 94 95 76 184 -33 296 4 331 109 76 229 -71 480 -314 534
                -94 21 -112 62 -71 170 8 22 144 74 232 89 38 6 38 7 35 47 -4 58 -20 65 -115
                50 -127 -20 -118 -21 -119 13 0 42 -26 88 -37 68z m-107 -958 c0 -3 -2 -5 -5
                -5 -3 0 -5 2 -5 5 0 3 2 5 5 5 3 0 5 -2 5 -5z" />
            <path d="M1575 1208 c-2 -7 -11 -40 -20 -73 -26 -92 -109 -293 -192 -463 -56
                -114 -74 -159 -69 -177 14 -55 61 -17 121 96 20 39 40 67 43 64 4 -4 7 -95 7
                -203 0 -213 11 -289 48 -322 46 -43 45 -46 66 210 12 143 33 234 62 270 11 14
                32 43 47 65 53 77 214 221 234 209 19 -12 0 -81 -41 -150 -59 -97 -50 -151 19
                -110 69 40 53 -14 -41 -140 -107 -145 -122 -170 -114 -194 9 -30 16 -27 110
                55 47 41 88 75 90 75 3 0 2 -75 -1 -168 -6 -149 -5 -169 10 -181 9 -8 19 -11
                22 -8 10 9 24 140 32 282 7 140 7 140 67 164 79 32 183 35 214 7 70 -64 -62
                -188 -201 -190 -74 0 -82 -7 -43 -32 81 -53 353 110 328 196 -21 75 -36 99
                -65 109 -52 18 -177 13 -227 -9 -74 -34 -80 -21 -26 56 43 60 43 67 5 111 -35
                40 -37 55 -10 130 20 57 19 64 -10 98 -10 11 -27 53 -39 93 -29 97 -69 74 -70
                -40 -1 -35 -5 -41 -71 -84 -124 -81 -194 -182 -272 -394 -43 -115 -43 -115
                -51 -20 -9 117 -16 142 -44 155 -26 13 -22 21 80 178 87 134 99 203 53 295
                -26 51 -43 64 -51 40z" />
            <path d="M66 1031 c-52 -104 -58 -123 -53 -161 7 -58 24 -72 45 -40 26 39 134
                150 146 150 7 0 28 -25 49 -56 37 -57 37 -57 -10 -112 -27 -30 -69 -82 -95
                -116 -26 -33 -63 -81 -83 -106 -29 -37 -35 -53 -35 -93 0 -65 16 -68 107 -23
                41 20 73 31 70 24 -63 -152 -90 -301 -63 -343 37 -57 72 -25 159 150 97 195
                242 365 328 385 59 14 198 7 238 -13 32 -15 71 -73 71 -105 0 -46 -130 -201
                -216 -258 -59 -39 -73 -41 -131 -14 -55 25 -59 4 -9 -46 79 -79 235 10 371
                214 99 147 22 271 -180 287 -155 13 -220 -32 -437 -305 -105 -133 -148 -181
                -148 -167 0 20 75 178 105 222 75 108 24 159 -104 107 -88 -36 -93 -35 -58 15
                64 92 222 225 288 243 47 13 56 29 39 70 -13 31 -78 70 -117 70 -11 0 -43 7
                -71 16 -49 16 -50 16 -97 -12 -48 -28 -48 -28 -42 42 10 110 -3 106 -67 -25z" />
         </svg>
    </a>
    <div class="text-sm place-content-center inline ml-auto">
        <!--<LanguageIcon />-->
        <span class="mx-1"></span>
        <ThemeSelect />
    </div>
</div>
