---
import {useLocale} from '@utils/locale'


const {url} = Astro
const {path, t, locale} = useLocale(url)

const items = [
    'posts',
    'moments',
    'docs',
    // 'reviews',
    'whois'
    // 'ping',
    // 'timeline'
]
// function page in root path
function isRootPage() {
    return url.pathname === '/'
}

function isPostsPage(item) {
    return item === 'posts' && ['categories/', 'tags/'].some((i) => url.pathname.includes(i))
}
---

<nav>
    <a

            href="https://liuweinan.com"
            class="panda-link mr-4 animated hover:no-underline"
            class:list={isRootPage() ? 'active' : ''}>{t('nav.home')}</a
    >
    {
        items.map((item) => {
            return (
                    <a

                            href={path(`/${item}`)}
                            class="panda-link mr-4 animated hover:no-underline"
                            class:list={url.toString().includes(item) || isPostsPage(item) ? 'active' : ''}
                    >{t(`nav.${item}`)}</a>
            )
        })
    }
</nav>
