---
import {useLocale} from '@utils/locale'


const {url} = Astro
const {path, t, locale} = useLocale(url)

const items = [
    'moments',
    'docs',
    // 'reviews',
    'whois'
    // 'ping',
    // 'timeline'
]
// function page in root path
function isRootPage() {
    return url.pathname === '/' || ['categories/', 'tags/', 'posts/'].some((i) => url.pathname.includes(i))
}

---

<nav >
    <a

            href={path('/')}
            class="panda-link mr-4 animated hover:no-underline"
            class:list={isRootPage() ? 'active' : ''}>{t('nav.posts')}</a
    >
    {
        items.map((item) => {
            return (
                    <a

                            href={path(`/${item}`)}
                            class="panda-link mr-4 animated hover:no-underline"
                            class:list={url.toString().includes(item) ? 'active' : ''}
                    >{t(`nav.${item}`)}</a>
            )
        })
    }
</nav>
